.connection-lost-container {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    width: 100%;
    height: 100%;
    display: block;
}

.content iframe {
    width: 100%;
    height: 100%;
    display: block;
}